# --- GPU Acceleration (Nvidia CUDA libs for faster-whisper) ---
nvidia-cublas-cu12
nvidia-cudnn-cu12

# --- ML & Core Frameworks (Thêm cấu hình chuẩn cho Ubuntu) ---
torch
torchaudio
setuptools
wheel

# --- Data Ingestion (Tải Podcast) ---
yt-dlp>=2023.12.30

# --- Data Processing (Bóc băng audio AI) ---
faster-whisper>=1.0.0

# --- Utility Libraries (Các công cụ hỗ trợ) ---
pandas>=2.2.0
tqdm>=4.66.1
python-dotenv>=1.0.0